/* ============ Winter 2024 EECS 493 Assignment 3 Starter Code ============ */

/* Main Containers */
body,
button {
  font-family: VT323;
}

button {
  font-size: xx-large;
}



.outer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* This will make the container take up all remaining space */
  background: #eee;
  border: 5px solid gainsboro;
  background-image: url('../src/frontpage_background.jpg');
  background-size: cover;
  /* Ensure the background image covers the entire container */
  text-align: center;
  /*height: calc(100% - 100px);*/
  height: 720px;
  width: 1280px;
  position: absolute;
}

#myButton1 {
  margin-top: 250px;
  margin-bottom: 50px;
}

#myButton2 {
  margin-top: 50px;
}



#Top {
  background-color: darkslateblue;
  border-bottom: 6px;
  border-bottom-style: groove;
  font-size: 100px;
  color: white;

  text-align: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
}

header img {
  max-height: 100%;
  /* Limit image height to fit within header */
  width: auto;
  /* Maintain aspect ratio */
}

/* Optional: Adjust image margin for spacing */
header img:first-child {
  margin-right: 10px;
  /* Space between left image and text */
}

header img:last-child {
  margin-left: 10px;
  margin-right: 20px;
  /* Space between right image and text */
}

.game-window {
  position: absolute;
  top: 0;
  left: 0;
  height: 720px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  flex: 1;
}


.Settings-Panel {
  width: 600px;
  height: 690px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkslateblue;
  display: none;
}

.Settings-Panel header {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 80px;
}

#Settings {
  height: 150px;


}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

button {
  width: 200px;
  height: 100px;
  background-color: darkslateblue;
  color: white;
  margin: 100px auto;



}

.Settings-Panel button {
  width: 180px;
  height: 100px;
  background-color: purple;
  color: white;
  margin-top: 0;
}


.Diff-button {
  display: flex;
  height: 200px;
  margin-top: 0;

}


.selected {
  border-color: yellow;
  border-width: 10px;

}

.close-button {
  align-self: center;
}

.bold {
  font-weight: bold;
}

.ital {
  font-style: italic;
}

.tutorial {
  font-size: 50px;
  background-color: gainsboro;
  position: absolute;
  top: 0;
  left: 0;

  height: 720px;
  width: 1280px;
  display: none;

}

.tutorial p {
  padding-bottom: 0px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.tutorial img {
  width: 100px;
}

.tutorial button {
  width: 200px;
  height: 75px;
  margin-top: 20px;
}

#play {
  font-size: 75px;
}

/* Game Section */
#actual-game {
  height: 720px;
  width: 1280px;
  background-color: white;
  z-index: 10;
  right: 0px;
  top: 0px;
  position: absolute;
}

.score-board {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  /* Semi-transparent white background */
  padding: 10px;
  font-family: Arial, sans-serif;
}

.curAsteroid {
  position: absolute;
  height: 42px;
  width: 42px;
  z-index: 9;
  right: 0px;
  top: 0px;
}

.curAsteroid img {
  position: relative;
  z-index: 10;
  height: 80px;
  left: -17px;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.end {
  /* semi-transparent overlay */

  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkslateblue;
}

.end-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.overbutton {
  margin-top: 0;
  height: 50px;
}

.end-content p {
  display: block;
  /* Ensures each <p> element is on its own line */
  margin: 10px 0;
  /* Adjust margins as needed */
}


/* Add your stylings here */